#############
## Python
#############

*.py[co]
*.pkl
*.~*

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
__pycache__/
test/__pycache__

# virtualenv
venv/

# Unit test / coverage reports
.coverage
.tox

# project specific
tai/__pycache__/
tai/doc/
tai/pythonhosted.org/*.zip
